fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 2px solid #3b3b7f;
}

form {
  width: 70vw;
  max-width: 600px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

h1,
p {
  margin: 1em auto;
  text-align: center;
}
